<?xml version="1.0"?>

<!--Local Db connection-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MinnowMeritsRedBadge;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

<!--Deployed Db Connection-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:minnowmeritsredbadgedbserver.database.windows.net,1433;Initial Catalog=MinnowMeritsRedBadge_db;Persist Security Info=False;User ID=MinnowMaster;Password=Emkj2014!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->