@{
    ViewBag.Title = "Whats Minnow Merits?";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<br /><br />

<p>This is a rewards system for children that provides a healthy balance between discipline and praise, while teaching money management skills to children. I made this system up at home to help balance time on electronics and give them a head start with managing their money. It inspires them to do their best in school and instills the values of working for things they want in life.  </p><br />
<h3>Events</h3>
<ul>
    <li>Make a Title! Example: Act of Kindness</li>
</ul>
<ul>
    <li>Make a description! Example: Taking the dog out without having to ask.(Note that these can be positive or negative events.</li>
</ul>
<ul>
    <li>
        Name a price for this event! Example: $5.00 
    </li>
</ul><br />
<h3>
    Transaction
</h3>
<ul>
    <li>Here, you can link an event and a childs wallet with a transaction of your choice. You can make it a withdraw, or a deposit.</li>
</ul><br />
<h3>Write-Ups</h3>
<ul>
    <li>This is where you can administer a write-up for your child. After 3 write-ups, you can have a major punishment take place. Example: Taking all devices away for a week until the new week starts.</li>
</ul>
<br />
<h3>Wallet</h3>
<ul>
    <li>This is where you can view your childs Id#, see how many write-ups they have, and see how much money each has in their wallet.</li>
</ul>

